*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 450px;
    background-color: cornsilk;
    margin: 0;
    padding: 0;
}
#sticky{
    position:sticky;
    
    background-color: antiquewhite;
    top: 0;
    text-align: center;
    box-shadow: 0 4px 10px darkgreen;
    border: #535454 1px solid;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    
    
    
    

}

.header{
    display: inline-block;
    background-color: rgb(161, 173, 169);
    overflow: hidden;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    padding-bottom: 1px;
    padding-top: 1px;
    border-radius: 10px;
    text-decoration: none;
    color: darkgreen;
    font-weight: 700;
    box-shadow: 0 4px 10px darkgreen ;
    
    
}
.a2{
    display: inline-block;
    width: 223px;
    padding: 10px;
    margin: 0;
    background-color: whitesmoke;
    overflow: hidden;
    border: #535454 solid 1px;
    border-radius: 20px;
    margin-top: 2px;
    box-shadow: 0 4px 10px #535454;

}
.a3{
    width: 200px;
    border-radius: 20px;
    box-shadow: 0 4px 10px #535454;
}
#a4{
    height: 376px;
    border-radius: 20px;
}
.header:hover{
    background-color:antiquewhite
}
.a5{
    text-align: center;
    margin-top: 2px;
    margin-bottom: 10px;
    text-shadow: 0 0 10px rgb(22, 30, 22);
}
.a6{
    text-align:center;
    text-shadow: #535454 0 0 4px;
}
.a7{
    text-align: right;
    margin-top: 20px;
    text-shadow: #101111 0 0 4px;
    color: rgb(38, 12, 234);
}
.button{
    text-decoration: none;
    padding: 9px;
    background-color: rgb(115, 158, 72);
    border-radius: 20px;
    box-shadow: 0 10px 20px 8px rgb(43, 42, 42);
    border: #535454;
    font-family: Arial, Helvetica, sans-serif;
    
    font-weight: 800;
    text-shadow: #535454 0 0 2px 10px;
    color: rgb(5, 6, 6);
    text-align: left;
    font-size: 14px;
    

}
.b2{
    background-color: rgb(161, 173, 169);
    width: 223px;
    overflow: hidden;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 10px;
    border: #535454 solid 1px;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0 4px 10px #535454;
    
}
.b3{
    width: 200px;
    height: 330px;
    text-align: center;
    border: #535454 1px;
    border-radius: 20px;
    box-shadow: 0 4px 10px #535454;

   
    
}
#c1{
    height: 351px;
}
 #c2{
    height: 387px;
 }
 .b4{
    text-align: center;
    margin: 10px;
    text-shadow: 0 4px 10px #535454;
 } 
 .b5{
    text-align: center;
    margin: 10px;
    overflow: hidden;
    text-shadow: 0 2px 10px #535454;
 } 
 .b6{
    text-align: right;
    color: rgb(16, 23, 237);
    text-shadow: #535454 0 0 4px;
    margin-bottom: 25px;

 } 
 .button:hover{
    background-color: red;

 }
 .d1{
    background-color: whitesmoke;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 4px 10px #535454;
    border: solid 1px;

 }
 .d2{
    text-align: left;
    width: 140px;
    display: inline-block;
    padding: 5px;
    margin: 2px;
    border: #404242 1px;
    background: #e0dcdc;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: #535454 0 4px 10px;
    text-decoration: none;
    text-align:left;
    text-shadow: #404242 0 4px 10px;
 }
 #e1{
    text-decoration: none;
 }
 .f1{
 position: fixed;
    background-color: rgb(97, 100, 100);
    bottom: 5px;
    right: 5px;
    padding: 10px;
    border-radius: 20px;
    border:  3px #3e3030;
    font-size: 20px;
    color: #131413;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    color: aliceblue;
    box-shadow: #087c7c 4px 5px 10px 10px;
}
.f1:hover{
    background-color: red;
}
 


